# Blacklist everything by default, so nothing is accidentally committed:
*

# Whitelist directories so we may recurse into them
!*/

# Whitelist the following files and directories:
!/.gitignore
!/CHANGELOG.md
!/Gemfile
!/Gemfile.lock
!/Gruntfile.coffee
!/LICENSE
!/README.md
!/_config.yml
!/bower.json
!/css/**/*.sass
!/js/**/*.coffee
!/js/**/*.js
!/package.json
!/script/build-site
!/script/check-site
!/script/cibuild
!/script/functions
!/script/install-clientside-plugins
!/script/install-jekyll-plugins

# Keep the Google, account-verification document
!/google8c45aa6b2510ec1a.html

# Ignore Bower dependencies (install them separately)
/js/require-config.js

# Ignore third-party plugins
/jekyll-plugins
